body {
    font-family:'Acme'; 
    font-size: 24px;
    background-color: lavender;

    padding: 0;
    margin: 0;
}
nav a {
    font-family: 'Acme';
    /* font-weight: bold; */
    letter-spacing: 1.5px;
    color: rgb(228, 191, 255);
    margin-right: 10px;
    text-decoration: none;
}
img {
    width: 50px;
    height: 50px;
}
.small-screen {
    display: none;
 }
 @media screen and (max-width: 760px){
    .big-screen {
        display: none;
    }
     .small-screen {
        display: block;
     }
 }

 /* Main content */
 main {
     margin: 20px 20px;
 }
.intro {
     padding: 10px;
     text-align: center;
     background-color: rgb(155, 25, 248);
}
.intro p {
     color: rgb(255, 255, 255);
}
 hr{
    border: 1px solid indigo
    /* color: indigo; */
 }
 main h1,h2,h3,h4,h5,h6,p,legend{
    margin: 0;
    color: #a749a4;
 }
 .text_dark_purple {
    color: rgb(89, 55, 112);
 }